.signup-main {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}
.signup-inner {
  padding: 0px 100px;
  text-align: center;
}
input {
  width: 90%;
}
.signup-form .input {
  font-size: 14px;
  padding: 0px 0px 0px 10px;
  border: none;
  outline: none;
}
.signup-form label {
  color: #999999;
}
.forgot-pass{
  display: flex;
  justify-content: space-between;
}
.forgot-pass button{
  border: none;
  color: #a66dfe;
  background-color: #ffff;
}
.signup-btn {
  border: none;
  margin-top: 40px;
  width: 100%;
  background-color: #a66dfe;
  border-radius: 60px;
  color: #ffff;
  padding: 12px;
  font-size: 16px;
}