.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-bubble {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

.chat-bubble-me {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.chat-bubble-other {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.chat-from {
  font-size: 12px;
  margin-bottom: 2px;
}