/* .chat-main {
  display: flex;
} */
.chat-main button {
  background: inherit;
  margin: 0px 40px;
  color: #8a8c95;
  font-weight: 500;
  font-family: Poppins;
  border-radius: 5px;
}
.chat-main button:hover {
  color: #a66dfe;
}
.chat-main button.active {
  background-color: white;
  color: #a66dfe;
  border-color: #a66dfe;
}
.chat-main button.non-active{
    border: none;
}
