.hero-main {
  padding: 100px 0px 100px 0px;
  margin: 10px 160px 10px 160px;
}
.lower-hero {
  padding: 100px 0px 0px 0px;
  margin: 10px 160px 10px 160px;
}
.hero-inner h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 52px;
  text-align: center;
}
.hero-inner p {
  font-family: "Lexend Deca";
  font-size: 18px;
  text-align: center;
  color: #666666;
}
.sign-btn {
  display: flex;
  justify-content: center;
  padding: 10px 0px 20px 0px;
}
.sign-btn button {
  padding: 10px 40px 10px 40px;
  background: linear-gradient(
    180deg,
    #ae6efe 0%,
    #785ef9 139.76%,
    #7155f7 220.99%
  );
  border-radius: 50px;
  border: none;
  color: #ffff;
}
.hero-inner span {
  font-family: "DM Sans";
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #212e44;
}
.img-logo {
  display: flex;
  justify-content: center;
}
.hero-inner img {
  padding: 16px 10px 16px 10px;
}
.card-sec {
  display: flex;
  padding: 50px 10px 50px 10px;
}
.card-sec p {
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 20px;
  color: #323b43;
}
.card-sec h5 {
  font-size: 16px;
  padding: 6px 0px 6px 0px;
  margin: 0px;
}
.card-sec span {
  color: #697279;
  font-size: 14px;
}
.text-sec {
  padding: 50px;
}
.text-sec-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-sec h2 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  padding: 0px 20px 0px 20px;
}
.text-sec p {
  font-family: "Lexend Deca";
  font-size: 18px;
  text-align: center;
  color: #697279;
}
.header-img {
  max-width: 100%;
}
.lorem-sec h4 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26px;
}
.lorem-sec p {
  font-family: "DM Sans";
  font-size: 18px;
  color: #697279;
  align-items: center;
}
.lorem-sec button {
  padding: 10px 25px 10px 25px;
  color: white;
  border: none;
  background: linear-gradient(
    180deg,
    #ae6efe 0%,
    #785ef9 139.76%,
    #7155f7 220.99%
  );
  border-radius: 50px;
}

