.sidebar {
  /* padding: 120px 20px 120px 20px; */
  margin: 20px;
  border-radius: 15px;
  /* width: 40%; */
  position: fixed;
  top: 0;
  right: 0;
  background: #03b48a;
  /* height: 100vh; */
  height:94.5vh;
}
.sidebar-inner{
  display: flex;
  justify-content: center;
}
.login-img{
  width: 100%;
  height: auto;
}
.login-main{
  margin: 20px;
}
.login-inner{
  padding: 100px;
}