.lichat-main {
  border: 1px solid rgb(217, 217, 217);
  height: 75vh;
  display: flex;
}
.left-inbox {
  border-right: 1px solid rgb(217, 217, 217);
  /* overflow-y: scroll; */
}
.left-inbox .heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.heading h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
}
.heading button {
  border: none;
  background-color: inherit;
}
.heading img {
  padding-left: 5px;
  object-fit: contain;
}
.search {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.03);
  align-items: center;
}
.search input {
  padding-left: 10px;
  border: none;
  background-color: inherit;
  color: #8e8e93;
}
.search input:focus {
  outline: none;
  border: none;
}
.focused {
  display: flex;
  justify-content: space-evenly;
}
.focused-button {
  border: inherit;
  background-color: inherit;
}

.focused-btn {
  color: #a66dfe;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: inherit;
  border-bottom: 2px solid #a66dfe;
}
