.videomodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.videomodal-contents {
  width: 25%;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.videomodal-inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}
.videomodal-inner h5 {
  color: #697279;
  font-size: 14px;
}
.videomodal-inner img {
    cursor: pointer;
}
hr {
  border-bottom: 1px solid #d9d9d9;
  margin: 0px;
}
.meeting {
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: self-end;
}
.meeting p {
  padding-left: 10px;
  font-size: 14px;
  margin: 0px;
}
.meeting img {
  object-fit: contain;
}
.meeting-later {
  padding: 0px 20px 2px 20px;
  display: flex;
  justify-content: space-between;
}

.meeting-later p {
  padding-left: 10px;
  font-size: 14px;
  margin: 0px;
}
.meeting-later img {
    cursor: pointer;
  object-fit: contain;
}
.footer-modal {
  margin: 150px 0px 10px 0px;
  padding: 0px 20px 2px 20px;
}
.footer-modal p {
  padding-left: 5px;
  margin: 0px;
  font-size: 14px;
}
.footer-modal span {
  font-size: 14px;
  padding-left: 25px;
  color: #1d72c7;
}
