.instachat-main {
  border: 1px solid rgb(217, 217, 217);
  height: 75vh;
  display: flex;
  background-color: #ffff;
}
.left-inbox {
  border-right: 1px solid rgb(217, 217, 217);
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.header h5 {
  font-size: 16px;
  margin: 0px;
}
.header img {
  object-fit: contain;
  height: 20px;
}
.insta-conversations {
  display: flex;
  align-items: center;
  padding: 10px 8px;
}
.insta-conversations img {
  height: 50px;
}
.insta-conversations h5 {
  font-size: 14px;
  padding: 0px 5px;
  margin: 0px;
}
.insta-conversations span {
  font-size: 12px;
  color: #8a8c95;
  padding: 0px 5px;
}
.new-message {
  display: grid;
  text-align: center;
  align-items: center;
}
.new-message h5 {
  font-size: 16px;
  font-weight: 500;
}
.new-message p {
  font-size: 14px;
}
.new-message button {
  background-color: #a66dfe;
  color: #ffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.instabox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding: 10px;
}
.instabox-header p {
  margin: 0px;
}
.instabox-header h5 {
  margin: 0px;
  font-size: 16px;
}
.instabox-header p {
  font-size: 14px;
}
.instabox-header img {
  height: 20px;
  padding: 0px 0px 0px 10px;
}
.insta-messaging-template {
  padding: 10px;
}
.insta-message-container {
  height: 55vh;
  overflow-y: scroll;
}

.insta-input-container {
  display: flex;
  align-items: center;
}

.insta-input-container input {
  border: 1px solid rgb(217, 217, 217);
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  margin: 5px 0px 0px 0px;
  border-radius: 36px;
}

.insta-input-container button {
  height: 40px;
  width: 80px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
}
.insta-input-container input:focus {
  outline: #a66dfe;
}
.insta-input-container input::placeholder {
  color: #8e8e93;
  font-size: 12px;
}
.insta-attachments {
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.insta-attachments button {
  color: #a1a5b7;
  padding: 2px 20px;
  border-radius: 5px;
  border: 1px solid #a1a5b7;
  background-color: rgba(161, 165, 183, 0.2);
}
.insta-user-message {
  padding-right: 5px;
  text-align: right;
}

.insta-other-message {
  text-align: left;
}

.insta-message p {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.insta-user-message p {
  background-color: #c0c1c5;
  border-radius: 36px;
  margin: 0px;
  color: black;
}

.insta-other-message p {
  color: black;
  background-color: #ffff;
  border-radius: 36px;
  border: 1px solid #a1a5b7;
  margin: 0px;
}
